/*Body Site*/
body {
	background: #f9f9f9;
	margin: 0px;/*Margem*/
	font-family: 'PT Sans', sans-serif; 
	padding-top: 60px;
	font-size: 13px;
}

h1, h2, h3, h4, h5, h6 { color:#003d74;}
h1 {}
h2 {font-size: 35px; color: white; margin: 0;}
h3 {font-size: 20px;}
h4 {text-align: center; font-size: 15px;}
h5 {}
h6 {}

.container {
	
	width: 1170px;/*Tamanho*/
	margin: 0 auto;/*Margem*/
}

.lista-horizontal {
	list-style: none;/* tira os pontos da lista*/
	padding-left: 0px;/*padding*/
}

.lista-horizontal > li {
	display: inline-block;/*Transforma comportamento do elemento*//*e define o tamanho com o block*/
}

/*Menu - Topo */
#topo {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003b72+0,0070ab+100 */
	background: #003b72; /* Old browsers */
	background: -moz-linear-gradient(left,  #003b72 0%, #0070ab 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#003b72), color-stop(100%,#0070ab)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #003b72 0%,#0070ab 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #003b72 0%,#0070ab 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #003b72 0%,#0070ab 100%); /* IE10+ */
	background: linear-gradient(to right,  #003b72 0%,#0070ab 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003b72', endColorstr='#0070ab',GradientType=1 ); /* IE6-9 */

	position:fixed;
	width: 100%;
	z-index: 10;
	top: 0;
	box-shadow: 0px 0px 10px #000;
}

/*Menu - Topo - Logo */
#topo .logo {
	padding: 9px 0px;
	margin: 0;/*Margem*/
	float: left;
}

/* Logo */
#logo {
	margin: 0px;
	width: 201px;
	height: 60px;
	float: left;
	background-color: #00467e;
}

#logo:hover{
	background-color: #02315f;
}

/* menu do site */
#menu ul {
	list-style-type: none;
	padding: 0px;
	margin:0px;
	overflow: hidden;
}

#menu > ul > li {
	float:left;
}

#menu ul li a {

	text-decoration: none;
	color: #fff;
	display: block;
	padding: 21.6px 35px;
}

#menu > ul > li:hover > a {
	padding: 18.6px 35px;
	border-top: 3px solid #fff;
	margin-bottom: 3px;
}

#menu > ul > li:hover > a {
	background: rgba(2,48,95,1);
	background: -moz-linear-gradient(top, rgba(2,48,95,1) 0%, rgba(1,77,150,0) 75%, rgba(0,87,168,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(2,48,95,1)), color-stop(75%, rgba(1,77,150,0)), color-stop(100%, rgba(0,87,168,0)));
	background: -webkit-linear-gradient(top, rgba(2,48,95,1) 0%, rgba(1,77,150,0) 75%, rgba(0,87,168,0) 100%);
	background: -o-linear-gradient(top, rgba(2,48,95,1) 0%, rgba(1,77,150,0) 75%, rgba(0,87,168,0) 100%);
	background: -ms-linear-gradient(top, rgba(2,48,95,1) 0%, rgba(1,77,150,0) 75%, rgba(0,87,168,0) 100%);
	background: linear-gradient(to bottom, rgba(2,48,95,1) 0%, rgba(1,77,150,0) 75%, rgba(0,87,168,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02305f', endColorstr='#0057a8', GradientType=0 );
	
}

/* submenu */

#menu > ul > li > ul > li > a:hover {
	background: rgba(0,71,138,1);
	background: -moz-linear-gradient(top, rgba(0,71,138,1) 0%, rgba(0,83,161,0) 75%, rgba(0,87,168,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,71,138,1)), color-stop(75%, rgba(0,83,161,0)), color-stop(100%, rgba(0,87,168,0)));
	background: -webkit-linear-gradient(top, rgba(0,71,138,1) 0%, rgba(0,83,161,0) 75%, rgba(0,87,168,0) 100%);
	background: -o-linear-gradient(top, rgba(0,71,138,1) 0%, rgba(0,83,161,0) 75%, rgba(0,87,168,0) 100%);
	background: -ms-linear-gradient(top, rgba(0,71,138,1) 0%, rgba(0,83,161,0) 75%, rgba(0,87,168,0) 100%);
	background: linear-gradient(to bottom, rgba(0,71,138,1) 0%, rgba(0,83,161,0) 75%, rgba(0,87,168,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00478a', endColorstr='#0057a8', GradientType=0 );
}

#menu > ul > li > ul {
	display: none;
	position: absolute;
	background: #ccc;
}

#menu > ul > li > ul a{
	text-align: center;
	border:thin solid;
	border-color: #02315f;
	height: 60px;
}


#menu > ul > li:hover > ul {
	display: block;
}

#menu li li {
	background: #0170AB;
}
.fotorama__wrap {
	margin: auto;
}
/* pesquisar */
.pesquisar {
	float: right;
}

.radius {
	border-radius: 10px;
}

.pesquisar > a {
	display: inline-block;
	position: relative;
}



#pesquisar {
	position: absolute;
	right: 60px;
	top: 20px;
}

#pesquisar input 
{
	width: 0;
	border: 0;
	transition: 0.3s all;
}

#pesquisar .aberto {
	width: 175px;
}

.lista-sbord{
	list-style-type: none;
	padding-left: 0;
}

/*conteudo*/
#conteudo {
	width: 960px;
	margin: auto;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 15px #eeeeee;
}

/*banner*/
.row.banner {
	margin: 0;
}

#banner {
	margin: 0px;
	position: relative;
}

.bannerimg {
	position: relative;
}

.bannerimg img{
	float: left;
}

#banner h2{
	position: absolute;
	top: 107px;
	right: 166px;
}

/*breadcrumb*/
.row.breadcrumb{
	margin:0;
}

#breadcrumb {
	background-color: #156fb1;
	margin: 0;
	border-radius: 0px 0px 10px 10px;
}

#breadcrumb ul{
	padding-left: 20px;
	list-style-type: none;
	padding: 0px;
	margin:0px;
	overflow: hidden;
}

#breadcrumb > ul > li {
	float:left;
}

#breadcrumb ul li a {

	text-decoration: none;
	color: white;
	display: block;
	padding: 8px 35px;
}

.breadcrumb ul li p {
	margin: 0px;
	text-decoration: none;
	color: white;
	display: block;
	padding: 8px 35px;
}

#breadcrumb ul li:hover {
	background-color: #0b5386;
	border-radius: 5px 5px 10px 10px;
}

#breadcrumb ul li.ativo {
	background-color: #146198;
	border-radius: 5px 5px 10px 10px;
}

/*texto*/
.texto{
	font-size: 15px;
	color: #003d74;
	padding: 0px 50px;
}

.texto.margem {
	margin-bottom: 50px;
}

.col-4.historia {
	padding-top: 30px; 
}

.col-4.historia img{
	width: 100%;
}

/*cinza-contato*/
.cinza-contato {
	background-color: #dedede;
	height: 38px;
	width: 410px;
	border: none;
	padding-left: 20px
}

.cinza-mensagem {
	background-color: #dedede;
	width: 410px;
	border: none;
	padding-left: 20px
}

.form-contato label {
	color: #003d74;
	font-size: 15px;
	font-weight: bold;
}

.form-contato {
	padding-left: 30px;
	padding-right: 30px;
}

.btn-mensagem {
	padding: 0px 50px;
}

.col-3.localizacao {
	width: 225px;
}

.localizacao p{
	padding: 13px;
	margin: 0;
	color: #003d74;
}

.localizacao a{
	color: #003d74;
	text-decoration: none;
	font-size: 15px;
}

.localizacao strong{
	font-size: 15px;
}

.container.margem {
	margin-top: 50px;
	margin-bottom: 50px;
}

.box {

}

.box img{
	float: left;
}

.destaque {
	margin-top: 52px;
	text-decoration: none;
	height: 85px;
}

.leiamais {
	margin-top: 69px;
	width: 80px;
	height: 30px;
	background-color: #0070ab;
	float: right;
	border-radius: 5px;
	box-shadow: 0px 0px 15px #eeeeee;
}

.leiamais:hover {
	background-color: #416f98;

}

.btn {
	padding: 7px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.col-4.texto-img > a{
	display: inline-block;
	position: relative;
	font-size: 15px;
}

.texto-orcamento {
	bottom: 0;
	color: #003d74;
	position: absolute;
	padding-bottom: 10px;
	display: block;
	left: 0;
	right: 0;
	text-align: center;
	background-color: rgba(255,255,255,0.8);
}


.orcamentohome1 p {
	font-size: 15px;
	color:#003d74;
	margin-top: 33px;
}

.row.padding {
	padding-bottom: 50px;
}

.btn2{
	margin: 50px 31px 0px 31px;
	height:  51px;
	width:  248px;
	text-align: center;
	display: block;
	box-shadow: 0px 0px 15px #eeeeee;
	font-weight: bold;
	color: white;
	line-height: 51px;
	text-decoration: none;
	border: none;


	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003b72+0,0070ab+100 */
	background: #003b72; /* Old browsers */
	background: -moz-linear-gradient(left,  #003b72 0%, #0070ab 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#003b72), color-stop(100%,#0070ab)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #003b72 0%,#0070ab 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #003b72 0%,#0070ab 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #003b72 0%,#0070ab 100%); /* IE10+ */
	background: linear-gradient(to right,  #003b72 0%,#0070ab 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003b72', endColorstr='#0070ab',GradientType=1 ); /* IE6-9 */
}

.btn2:hover{
	background: rgba(2,48,95,1);
	background: -moz-linear-gradient(top, rgb(2,48,95) 0%, rgb(1,77,150) 75%, rgb(0,87,168) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(2,48,95)), color-stop(75%, rgb(1,77,150)), color-stop(100%, rgb(0,87,168)));
	background: -webkit-linear-gradient(top, rgb(2,48,95) 0%, rgb(1,77,150) 75%, rgb(0,87,168) 100%);
	background: -o-linear-gradient(top, rgb(2,48,95) 0%, rgb(1,77,150) 75%, rgb(0,87,168) 100%);
	background: -ms-linear-gradient(top, rgb(2,48,95) 0%, rgb(1,77,150) 75%, rgb(0,87,168) 100%);
	background: linear-gradient(to bottom, rgb(2,48,95) 0%, rgb(1,77,150) 75%, rgb(0,87,168) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02305f', endColorstr='#0057a8', GradientType=0 );
}

.btn2  a{
	display: block;
	padding: 15px; 
	text-decoration: none;
	color: #fff;

}

/*footer*/
.row.footer{
	margin: 0px;
	margin-bottom: 0;
	background-color: #026091;
	padding-top: 50px;
	padding-bottom: 15px; 
	box-shadow: 0px 0px 15px #eeeeee;
	border-radius: 10px 10px 0px 0px;
}

.cor {
	width: 960px;
	height: 192px;
	background-color: #003c73;
}

.cor2 {
	width: 960px;
	height: 153px;
	background-color: #014377;	
}

.cor3 {
	width: 960px;
	height: 117px;
	background-color: #00518a;
}


#mapasite ul {
	list-style-type: none;
	padding: 0px;
	margin:0px;
	overflow: hidden;
}

#mapasite > ul > li {
	float:left;
}

#mapasite ul li a {
	font-size: 15px;
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 10px 35px;
}

.li-hover:hover a{
	background: rgba(2,48,95,1);
	background: -moz-linear-gradient(top, rgba(2,48,95,1) 0%, rgba(1,77,150,0) 75%, rgba(0,87,168,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(2,48,95,1)), color-stop(75%, rgba(1,77,150,0)), color-stop(100%, rgba(0,87,168,0)));
	background: -webkit-linear-gradient(top, rgba(2,48,95,1) 0%, rgba(1,77,150,0) 75%, rgba(0,87,168,0) 100%);
	background: -o-linear-gradient(top, rgba(2,48,95,1) 0%, rgba(1,77,150,0) 75%, rgba(0,87,168,0) 100%);
	background: -ms-linear-gradient(top, rgba(2,48,95,1) 0%, rgba(1,77,150,0) 75%, rgba(0,87,168,0) 100%);
	background: linear-gradient(to bottom, rgba(2,48,95,1) 0%, rgba(1,77,150,0) 75%, rgba(0,87,168,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02305f', endColorstr='#0057a8', GradientType=0 );
}

#mapasite > ul > li > ul > li > a:hover {
	background: rgba(2,48,95,1);
	background: -moz-linear-gradient(top, rgba(2,48,95,1) 0%, rgba(1,77,150,0) 75%, rgba(0,87,168,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(2,48,95,1)), color-stop(75%, rgba(1,77,150,0)), color-stop(100%, rgba(0,87,168,0)));
	background: -webkit-linear-gradient(top, rgba(2,48,95,1) 0%, rgba(1,77,150,0) 75%, rgba(0,87,168,0) 100%);
	background: -o-linear-gradient(top, rgba(2,48,95,1) 0%, rgba(1,77,150,0) 75%, rgba(0,87,168,0) 100%);
	background: -ms-linear-gradient(top, rgba(2,48,95,1) 0%, rgba(1,77,150,0) 75%, rgba(0,87,168,0) 100%);
	background: linear-gradient(to bottom, rgba(2,48,95,1) 0%, rgba(1,77,150,0) 75%, rgba(0,87,168,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02305f', endColorstr='#0057a8', GradientType=0 );
}

#mapasite ul li ul li {
	text-align: center;
}

.col-3.cor {
	background-color: rgba(1,49,94,0.3);
}

#endereco {
	font-size: 15px;
	color: 	#fff;

}

#endereco p{
	text-align: center;
}

#endereco a{
	text-align: center;
	font-size: 15px;
	text-decoration: none;
	color: #fff;
}

#redesocial  ul{
	list-style-type: none;
	padding: 0px;
	margin:0px;
	overflow: hidden;
}

#redesocial ul li{
	float: left;
	width: 50px;
	height: 50px;
	padding: 5px;
}

.cinza {
	margin-bottom: 0;
	width: 100%;
	height: 58px;
	background-color: #dedede;
}

.row.cinza {
	margin: auto;
	width: 960px;
}

.col-5.direitos {
	display: block;
	font-size: 15px;
	color: #026091;
	text-align: center;
	padding: 4.5px;
}

.voltar {
	padding-left: 90px;
}

.voltar a {
	text-indent: -10000px;
	overflow: hidden;

	transition: transform 0.2s;
	display: block;
	width: 65px; 
	height: 60px; 
}

.voltar:hover a { 
	transform: rotate(360deg);
}

.col-3.logo {
	text-align: center;
}