* {
	box-sizing: border-box;
}
/* Determina a largura da linha*/
.container {
	width: 960px; 
	margin-left: auto;
	margin-right: auto;
	
}

/*Separa as linhas do site*/
.row { 
	margin-bottom: 10px;
	clear: both;
	overflow: hidden;
	margin: 0 -5px;
	list-style: none;
}

/*Formata o tamanho das colunas do site*/
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	margin-right: 5px;
	margin-left: 5px;
	float: left;
}

.col-1 {
	width: 70px;
}

.col-2 {
	width: 150px;
}

.col-3 {
	width: 230px;
}

.col-4 {
	width: 310px;
}

.col-5 {
	width: 390px;
}

.col-6 {
	width: 470px;
}

.col-7 {
	width: 550px;
}

.col-8 {
	width: 630px;
}

.col-9 {
	width: 710px;
}

.col-10 {
	width: 790px;
}

.col-11 {
	width: 870px;
}

.col-12 {
	width: 960px;
}