/*Slider*/
#slider {
	margin: 0px;
}

.slider {
	position: relative;
}

.slider-conteudo {
	position: relative;
	height: 400px;
}

.slider-item {
	position: absolute;
	top: 0px;

}

.slider-indicadores {
	margin:0;
	text-align: center;
	position: absolute;
	bottom: 0px;
	list-style: none;
	width: 100%;
	padding: 20px 0px 15px 0px;
	background-color: rgba(255,255,255,0.3);

}

.slider-indicadores li {
	display: inline-block;


}

.slider-indicadores li a{
	display: block;
	border: 2px solid #026091;
	width: 20px; height: 20px;
	text-indent: -10000px; overflow: hidden;
	border-radius: 50%;
}

.slider-indicadores li:hover a{
	background-color: #0070ab;
}

.slider-indicadores li.ativo a{
	background-color: #026091;
}
