.sprite-lista{
	background-color: black;
}
.sprite{
	display: inline-block;
	width: 60px;
	height: 60px;
	background: transparent url(../img/sprite.png) left top no-repeat;
	opacity: 0.5;
}

.sprite:hover{
	opacity: 1.0;
}

.sprite-usuario {
	background-position: 0px 0px;
}

.sprite-usuario:hover {
	background-position: 0px -60px;
}

.sprite-pesquisar {
	height: 50px;
	background-position: -60px 0px;
}

.sprite-pesquisar:hover {
	height: 50px;
	background-position: -60px -60px;
}

.sprite-cadeado {
	background-position: -120px 0px;
}

.sprite-cadeado:hover {
	background-position: -120px -60px;
}

.sprite-facebook {
	background-position: -180px 0px;
}

.sprite-googleplus {
	background-position: -240px 0px;
}

.sprite-setadireita {
	background-position: -300px 0px;
}

.sprite-telefone {
	float: left;
	background-position: -360px 0px;
}

.sprite-celular {
	float: left;
	background-position: -420px 0px;
}

.sprite-localizacao {
	float: left;
	background-position: -480px 0px;
}

.sprite-setaesquerda {
	background-position: -300px -60px;
}

.sprite-twitter {
	background-position: -180px -60px;
}

.sprite-youtube {
	background-position: -240px -60px;
}

.sprite-mais {
	background-position: -120px -120px;
}

.sprite-olho {
	background-position: -180px -120px;
}

.sprite-setatop {
	background-position: -240px -120px;
}